.folder-1hbNCn[aria-label^="A"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="a"] .closedFolderIconWrapper-2sTcE6:after {
    content: "A";
}

.folder-1hbNCn[aria-label^="B"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="b"] .closedFolderIconWrapper-2sTcE6:after {
    content: "B";
}

.folder-1hbNCn[aria-label^="C"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="c"] .closedFolderIconWrapper-2sTcE6:after {
    content: "C";
}

.folder-1hbNCn[aria-label^="D"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="d"] .closedFolderIconWrapper-2sTcE6:after {
    content: "D";
}

.folder-1hbNCn[aria-label^="E"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="e"] .closedFolderIconWrapper-2sTcE6:after {
    content: "E";
}

.folder-1hbNCn[aria-label^="F"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="f"] .closedFolderIconWrapper-2sTcE6:after {
    content: "F";
}

.folder-1hbNCn[aria-label^="G"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="g"] .closedFolderIconWrapper-2sTcE6:after {
    content: "G";
}

.folder-1hbNCn[aria-label^="H"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="h"] .closedFolderIconWrapper-2sTcE6:after {
    content: "H";
}

.folder-1hbNCn[aria-label^="I"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="i"] .closedFolderIconWrapper-2sTcE6:after {
    content: "I";
}

.folder-1hbNCn[aria-label^="J"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="j"] .closedFolderIconWrapper-2sTcE6:after {
    content: "J";
}

.folder-1hbNCn[aria-label^="K"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="k"] .closedFolderIconWrapper-2sTcE6:after {
    content: "K";
}

.folder-1hbNCn[aria-label^="L"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="l"] .closedFolderIconWrapper-2sTcE6:after {
    content: "L";
}

.folder-1hbNCn[aria-label^="M"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="m"] .closedFolderIconWrapper-2sTcE6:after {
    content: "M";
}

.folder-1hbNCn[aria-label^="N"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="n"] .closedFolderIconWrapper-2sTcE6:after {
    content: "N";
}

.folder-1hbNCn[aria-label^="O"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="o"] .closedFolderIconWrapper-2sTcE6:after {
    content: "O";
}

.folder-1hbNCn[aria-label^="P"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="p"] .closedFolderIconWrapper-2sTcE6:after {
    content: "P";
}

.folder-1hbNCn[aria-label^="Q"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="q"] .closedFolderIconWrapper-2sTcE6:after {
    content: "Q";
}

.folder-1hbNCn[aria-label^="R"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="r"] .closedFolderIconWrapper-2sTcE6:after {
    content: "R";
}

.folder-1hbNCn[aria-label^="S"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="s"] .closedFolderIconWrapper-2sTcE6:after {
    content: "S";
}

.folder-1hbNCn[aria-label^="T"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="t"] .closedFolderIconWrapper-2sTcE6:after {
    content: "T";
}

.folder-1hbNCn[aria-label^="U"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="u"] .closedFolderIconWrapper-2sTcE6:after {
    content: "U";
}

.folder-1hbNCn[aria-label^="V"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="v"] .closedFolderIconWrapper-2sTcE6:after {
    content: "V";
}

.folder-1hbNCn[aria-label^="W"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="w"] .closedFolderIconWrapper-2sTcE6:after {
    content: "W";
}

.folder-1hbNCn[aria-label^="X"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="x"] .closedFolderIconWrapper-2sTcE6:after {
    content: "X";
}

.folder-1hbNCn[aria-label^="Y"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="y"] .closedFolderIconWrapper-2sTcE6:after {
    content: "Y";
}

.folder-1hbNCn[aria-label^="Z"] .closedFolderIconWrapper-2sTcE6:after, .folder-1hbNCn[aria-label^="z"] .closedFolderIconWrapper-2sTcE6:after {
    content: "Z";
}

.folder-1hbNCn[aria-label^="0"] .closedFolderIconWrapper-2sTcE6:after {
    content: "0";
}

.folder-1hbNCn[aria-label^="1"] .closedFolderIconWrapper-2sTcE6:after {
    content: "1";
}

.folder-1hbNCn[aria-label^="2"] .closedFolderIconWrapper-2sTcE6:after {
    content: "2";
}

.folder-1hbNCn[aria-label^="3"] .closedFolderIconWrapper-2sTcE6:after {
    content: "3";
}

.folder-1hbNCn[aria-label^="4"] .closedFolderIconWrapper-2sTcE6:after {
    content: "4";
}

.folder-1hbNCn[aria-label^="5"] .closedFolderIconWrapper-2sTcE6:after {
    content: "5";
}

.folder-1hbNCn[aria-label^="6"] .closedFolderIconWrapper-2sTcE6:after {
    content: "6";
}

.folder-1hbNCn[aria-label^="7"] .closedFolderIconWrapper-2sTcE6:after {
    content: "7";
}

.folder-1hbNCn[aria-label^="8"] .closedFolderIconWrapper-2sTcE6:after {
    content: "8";
}

.folder-1hbNCn[aria-label^="9"] .closedFolderIconWrapper-2sTcE6:after {
    content: "9";
}